
advancements/

DIM-1/

DIM1/

level.dat_old

playerdata/

poi/

region/r.-1.-1.mca

region/r.-1.0.mca

region/r.-1.1.mca

region/r.0.-1.mca

region/r.0.1.mca

region/r.1.-1.mca

region/r.1.0.mca

region/r.1.1.mca

region/r.2.2.mca

region/r.2.3.mca

region/r.3.2.mca

session.lock

stats/

data/chunks.dat

data/raids.dat

data/scoreboard.dat

region/r.2.4.mca

region/r.3.4.mca
