advancements/
data/chunks.dat
data/raids.dat
data/scoreboard.dat
DIM-1/
DIM1/
level.dat_old
playerdata/
poi/
session.lock
stats/
region/r.-1.-1.mca

region/r.-1.0.mca

region/r.-1.1.mca

region/r.-2.-1.mca

region/r.-2.0.mca

region/r.0.-1.mca

region/r.0.1.mca

region/r.1.-1.mca

region/r.1.0.mca
